<main>
  <section class="form-section">
    <img src="/assets/logo/Brasão_de_Bezerros.png" class="bezerros-coat-of-arms" alt="Coat of Arms Bezerros City">
    <h2>{{ title }}</h2>
    <ng-content>

    </ng-content>
    <div class="button-wrapper">
      <button mat-button class="bnt-primary">{{ primaryBtnText }}</button>
      <div class="divider">
        <mat-divider></mat-divider>
        <span>ou</span>
        <mat-divider></mat-divider>
      </div>
      <button mat-button class="bnt-secondary">{{ secondaryBtnText }}</button>
    </div>
  </section>
  <section class="main-section">
    <h1>Inventário Diogo Lemos</h1>
    <img src="assets/logo/Logo_Diogo_Lemos.png" class="diogo-lemos-logo" alt="city ​​councilor Diogo Lemos Logo">
  </section>
</main>
